<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block title %}
    <title>Base</title>
    {% endblock %}
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='resources/RemixIcons/remixicon.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
<!--    <link rel="shortcut icon" href="{{ url_for('static', filename='resources/favicon.ico') }}">-->

  </head>
  <body>
    <!-- HEADER/TOP NAVBAR -->

    {% block header %}
    <header>
      <nav class="navbar">
        <section class="navbar__left">
          <a id="home" href="/donor_dashboard" class="navbar__left__item">
            <span>Every donation makes a difference</span>
          </a>
          <a id="explore" href="/donate" class="navbar__left__item">
            <span>Donate</span>
          </a>
          <a id="predict" href="/requests" class="navbar__left__item">
            <span>Requests</span>
          </a>
        </section>

        {% if 'user_id' in session %}
        {% if session['role'] == 'donor' %}
        <section class="navbar__right">
          <a href="/logout" class="navbar__right__item">
            <div class="icon">
              <i class="ri-shut-down-line icon__line"></i>
              <i class="ri-shut-down-fill icon__fill"></i>
            </div>
          </a>
        </section>
        {% endif %}
        {% endif %}
      </nav>
    </header>
    {% endblock %}

<!--    &lt;!&ndash; Messages &ndash;&gt;-->
<!--    {% block notification%}-->

<!--    <div id="messages" class="messages">-->
<!--      {% for item in msgObj%}-->
<!--      <div class="messages__item">-->
<!--        <h3>{{item.username}}</h3>-->
<!--        {% if item.id == user.id %}-->
<!--        <a href="javascript:postDelete({{user.id}})"><i class="ri-close-fill"></i></a>-->
<!--        {% endif %}-->

<!--        <span>{{item.messagedate.strftime("%d %b %Y, %H:%M")}}</span>-->
<!--        <p>-->
<!--          {{ item.message }}-->
<!--        </p>-->
<!--      </div>-->
<!--      {% endfor %}-->

<!--      <h4>No more Messages to display</h4>-->

<!--    </div>-->

    {% endblock %}

    <!-- Main Page Contents  -->

    {% block main %}
    {% endblock %}

    <!-- Footer Contents -->
    <footer>
      <span>Software Engineering Project</span>
      <span>&copy; Copyright 2024</span>
      <span>Florida Atlantic University</span>
    </footer>

    <script src="{{url_for('static', filename='js/main.js')}}"></script>

    <script>
      // JavaScript code to display an alert when a volunteer clicks on the "Donate" navigation menu item
      document.getElementById('explore').addEventListener('click', function(event) {
        // Check if the user is a volunteer
        if ('{{ session.get("role") }}' === 'volunteer') {
          // Display an alert informing the user that they need to sign up as a donor
          alert('You are a volunteer. Please sign up as a donor to donate.');
          // Prevent the default action of the link (navigation to the donation page)
          event.preventDefault();
        }
      });
    </script>
  </body>
</html>
