<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
<div class="container">
    <h1>Donate food for the poor</h1>
    <div class="btn-field">
        <a href="/signup"><button type="button">Sign up</button></a>
        <a href="/login"><button type="button">Login</button></a>
    </div>
    <marquee behavior="scroll" direction="left">Giving is not just about making a donation. Giving is about making a difference...</marquee>

</div>
</body>
</html>